/* Import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/* Variables */
:root {
  /* Colors */
  --light: #fff;
  --dark: #303030;
  --broke: #d4d4d4;
  --accent: #f9f9f9;
  --primary-text-color: #333;

  --main-font-family: "Raleway", sans-serif;

  --gap: 10px;
}

/* Base styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  color: var(--primary-text-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  height: 100vh;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

strong {
    font-weight: 700;
}

/* Header */

.header {
    background-color: var(--broke);
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap);
}

.person-card {
    font-size: 1.28em;
}

.person-card__info {
    display: flex;
    align-items: center;
    gap: var(--gap); 
}

.person-card__img {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    border: 1px solid var(--dark);
    overflow: hidden;
}

.menu {
    margin-left: auto;
    margin-right: 30px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) * 3);
}

.menu__link {
    position: relative;
    padding: 10px 0;
}

.menu__link::before {
    content: '';
    position: absolute;
    width: 0;
    height: .08em;
    left: 0;
    bottom: .5em;
    background-color: var(--primary-text-color);
    transition: width .4s ease-in;
}

.menu__link:hover::before{
    width: 100%;
}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
}

.button {
    color: var(--dark);
    padding: 10px;
    font-size: 1.28em;
    line-height: 1;
    font-weight: 700;
    border: 2px solid var(--dark);
    text-transform: uppercase;
    transition: transform .1s ease-in;
}

.button:active,
.button:hover {
    transform: scale(1.01);
}

.change {
    background-color: var(--accent);
    font-size: 8px;
    /* border: 1px solid red; */
    box-shadow: inset 2px 2px 8px 2px var(--broke);
    border-radius: 50px;
    padding: 3px 5px;
}

.change__info {
    gap: calc(var(--gap) / 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.change span {
    --size: 24px;
    width: var(--size);
    height: var(--size);
}

.change__text {
    line-height: 11px;
}

.none {
    display: none;
}

/* Hero section */

.hero {
    background-color: var(--broke);
    height: 100%;
    margin: 0 auto;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    height: 100%;
}

.hero__info {
    text-align: center;
}

.hero__title {
    font-size: 1.28em;
    margin-bottom: 20px;
}

.hero__name {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero__description {
    font-size: 1.5em;
    margin-bottom: 40px;
}